.data__wrapper {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 20px;
    overflow: visible;
}

.container {
    height: 100vh;
    /* padding-bottom: 200px; */
    padding: 0 2rem;
}

.container.light {
    background-color: #fff;
}


.main__container.light{
    background-color: #fff;
}

.dark {
    color: #fff;
}

.light {
    color: #000;
}

.cntrl__wrapper {
    display: flex;
    height: 100px;
    /* justify-content: space-around; */
    align-items: center;
}