.pagination__wrapper {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.pagination__btn {
    width: 48px;
    height: 42px;
    background-color: #fff;
}

.pagination__btn:hover {
    color: #fff;
    background-color: #8e98c289;
}

.pagination__btn.active {
    background-color: #cd8bf1;
    color: #fff;
}

.pagination__btn.active.light  {
    background-color: #cd8bf1;
}

.pagination__btn.light {
    background-color: #8690b64a;
}





/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */