.control {
   display: flex;
}

.control__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 1rem 1rem;
    border-radius: 20px;
}

.control__btn {
    cursor: pointer;
}

.control__amount {
    color : #fff;
}

.control__btn:hover {
    background-color: #bc90d2;
    color: #fff;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}